ALTER TABLE log_entries ALTER COLUMN case_status TYPE TEXT, ALTER COLUMN workorder_status TYPE TEXT; DROP TYPE IF EXISTS status_type; CREATE TYPE status_type AS ENUM ('open', 'in_progress', 'closed', 'pending'); ALTER TABLE log_entries ALTER COLUMN case_status TYPE status_type USING case_status::status_type, ALTER COLUMN workorder_status TYPE status_type USING workorder_status::status_type;
